html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 85%), rgba(-1, 0, 0, 0));
    height: 6em;
}
ul {
    display: flex;
    justify-content: end;
    position: relative;
    top: 2.4em;
    right: 3em;
    grid-gap: 3em;
}
header a {
    text-decoration: none;
    background-color: lightpink;
    color: black;
    padding: .5em 2em;
    border-radius: .5em;
}
h1 {
	font-size: 3em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
span {
	visibility: hidden;
}
.box {
	background-color: lightpink;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: .35em;
    margin-bottom: 5em;
}
.polaroid {
    width: 96%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: solid 1px;
}
body {
	background-color: beige;
    height: 100vh;
    background-image: url(images/study3bg2.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: rgba(245, 245, 220, .9);
    background-blend-mode: lighten;
}
article {
    width: 48%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
}
.logo {
	width: 30%;
}
p {
	margin-right: 2em;
    font-size: 20px;
}
.previous {
    width: 1.5%;
    min-width: 30px;
    background-color: lightpink;
    padding: .5em;
    border-radius: 2em;
    position: absolute;
    bottom: 280px;
    left: 150px;
    rotate: 180deg;
}
header a:hover {
    background-color: palevioletred;
}
.previous:hover {
    background-color: palevioletred;
}
.next:hover {
    background-color: palevioletred;
}
.active a {
    background-color: gray;
}@media screen and (max-width: 1340px) { 
    h1 {
        padding: 0 2em;
        font-size: 2.5em;
    }
    .previous {
        left: 100px;
    }
}
@media screen and (max-width: 1120px) { 
    h1 {
        padding: 0;
        font-size: 2em;
    }
    .previous {
        left: 41%;
        bottom: 14px;
    }
}